<article class="post type-post status-publish format-standard hentry">

	<!-- .entry-header -->
	<header class="entry-header">

	{{ $baseurl := .Site.BaseURL }}

		{{ if eq .Section "blog" }}
		<div class="entry-meta">
			<span class="cat-links">
                {{ range .Params.categories }}
                <a href="{{ $baseurl }}/categories/{{ lower . | urlize }}/index.html" rel="category">{{ . }}</a>
                {{ end }}
			</span>
		</div>
		{{ end }}

        <h1 class="entry-title">
			<a href="{{ .Permalink }}">{{ .Title }}</a>
		</h1>
		{{ if eq .Section "blog" }}
		<div class="comments-link">
			<a href="{{ .Permalink }}#disqus_thread" data-disqus-identifier="article_1_identifier">
				<span class="leave-reply">Comments
				</span>
			</a>				
		</div><!-- .comments-link -->

		<div class="entry-meta">
			<span class="entry-date">
				<time class="entry-date" datetime="{{ .Date }}">
					{{ .Date.Format "January 2, 2006" }}
				</time>
			</span>
		</div><!-- .entry-meta -->
		{{ end }}

	</header>

	<div class="entry-content">
		{{ .Content }}
	</div><!-- .entry-content -->

	{{ if eq .Section "blog" }}
	<footer class="entry-meta">
		<span class="tag-links">
			{{ range .Params.tags }}
                <a href="{{ $baseurl}}/tags/{{ lower . | urlize }}" rel="tag">{{ . }}</a>
            {{ end }}
		</span>
		{{ if not .Params.hidecomments }}
		{{partial "comments.html" .}}
		{{end}}
	</footer>
	{{ end }}
</article> <!-- #post-## -->
