<article class="post type-post status-publish format-standard hentry" style="margin-bottom: 5px; padding-top: 0px; border:0px;">

	<!-- .entry-header -->
	<header class="entry-header">

	{{ $baseurl := .Site.BaseURL }}
        <a href="{{ .Permalink }}">{{ .Title }}</a>

		<div class="entry-meta">
			<span class="entry-date">
				<time class="entry-date" datetime="{{ .Date }}">
					{{ .Date.Format "January 2, 2006" }}
				</time>
			</span>
		</div><!-- .entry-meta -->

	</header>
</article> <!-- #post-## -->
